/* start variables */
:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%); 
    --section-padding: 100px 0;
}
/* End Variables */
/* start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans", sans-serif;
}
ul {
    list-style-type: none;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components  */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}
.main-heading h2::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 121px;
    background-color: #333;
    bottom: -30px;
}
.main-heading h2::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -38px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #333;
}
.main-heading p {
    width: 500px;
    max-width: 100%;
    margin: 0 auto 100px;
    line-height: 1.8;
    color: #777;
}
/* End Components  */
/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97.09px;
}
header .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    height: 1px;
    width: calc( 100% - 30px);
    background-color: #a2a2a2;
    z-index: -1;
}
header .container .logo {
    height: 40px;
}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .toggle-menu {
    color:white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header .container nav .toggle-menu{
        display: none;
    }
}
@media (max-width: 767px) {
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 0.5);
    }
    header nav ul li a {
        padding:15px !important;
    }
}
header .container nav ul {
    display: flex;
}
@media (max-width: 767px) {
    header .container nav ul {
        display: none;
    }
}

header .container nav ul li a {
    display: block;
    font-size: 14px;
    color:white;
    text-decoration: none;
    padding: 40px 10px;
    transition: 0.3s;
}
header .container nav ul li a.active,
header .container nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    transition: none;
}
header .container .form {
    width: 50px;
    height: 30px;
    position: relative;
    margin-left: 10px;
    border-left: 1px solid white; 
    display: flex;
    align-items: center;
}
header .container .form i {
    color:white;
    position: absolute;
    right: 0;
    font-size: 20px;
}
/* End Header */
/* Start Landing */
.landing {
    background-color: #1f2021;
    background-image: url(../images/landing.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
}
.landing .overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);    
}
.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    max-height: 436px;
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
}
.landing .text .content{
    max-width: 500px;
}
@media (max-width: 767px) {
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
    max-width: 100%;
    }
}
.landing .text h2 {
    font-size: 30px;
    line-height: 1.6;
    font-weight: normal;
}
.landing .text p {
    line-height: 1.8;
    margin-top: 20px;
}
.landing .change-background {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 767px) {
    .landing .change-background {
        display: none;
    }
}
.landing .arrow-left {
    left: 30px;
}
.landing .arrow-right {
    right: 30px;
}
.landing .bullets {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.landing .bullets li {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 20px;
    border: 1px solid white;
}
.landing .bullets .active {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
}
/* End Landing */
/* Start Services */
.services {
    padding: var(--section-padding);
}
.services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
}
.services .srv-box {
    display: flex;
}
.services .srv-box i {
    text-align: center;
    margin-right: 50px;
}
@media (max-width:767px) {
    .services .services-container {
        display: block;
    }
    .services .srv-box {
        display: flex;
        flex-direction: column;
    }
    .services .srv-box i {
        margin: 50px 0 10px 0;
    }
}
.services .srv-box .text {
    text-align: center;
}
.services .srv-box .text h3 {
    color: var(--main-color);
    margin-bottom: 25px;
}
.services .srv-box .text p {
    color: #777;
    line-height: 1.8;
}
/* End Services */
/* start design  */
 .design {
     padding: var(--section-padding);
     height: 600px;
     background-image: url(../images/design-features.jpg);
     background-size: cover;
     display: flex;
     align-items: center;
     position: relative;
     overflow: hidden;
}
.design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.design .image,
.design .text {     
    flex: 1;
    z-index: 2;
}  
.design .image {
    text-align: center;
    overflow: hidden;
    position: relative;
    top: 160px;
}
@media (max-width: 767px) {
    .design .image {
         display: none;
    }
}
.design .text {
    background-color: var(--transparent-color);
    padding: 50px 30px;
}
.design .text h2 {
    color: white;
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
    padding-left: 12px
}
.design .text ul li {
    color: white;
    padding: 16px;
}
.design .text ul li::before {
    font-family: 'Font Awesome 5 free';
    content: '\f108';
    font-weight: 900;
    margin-right: 25px;
}
.portfolio {
    padding: var(--section-padding);
}
.portfolio .shuffle {
    display: flex;
    justify-content: center;
}
.portfolio .shuffle li {
    padding: 10px
}
.portfolio .shuffle .active {
    color: white;
    background-color: var(--main-color);
}
.portfolio .imgs-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.portfolio .imgs-container .img-box {
    width: 100%;
    position: relative;
    overflow: hidden;
}
@media (min-width: 768px) {
    .portfolio .imgs-container .img-box {
        width: 50%;
    }
}
@media (min-width: 992px) {
    .portfolio .imgs-container .img-box {
        width: 25%;
    }
}
.portfolio .imgs-container .img-box img {
    width: 100%;
    transition: 0.3s;
}
.portfolio .imgs-container .img-box .caption {
    padding: 10px 20px;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: 0.3s;
    background-color: white;
}
.portfolio .imgs-container .img-box:hover .caption {
    bottom: 0;
}
.portfolio .imgs-container .img-box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.portfolio .imgs-container .img-box h4 {
    font-weight: normal;
    margin-bottom: 10px;
}
.portfolio .imgs-container .img-box p {
    color: var(--main-color);
}
.portfolio .more {
    display: block;
    margin: 20px auto 0;
    padding: 15px;
    width: fit-content;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    text-transform: uppercase;
}
/* End design  */
/* start video  */
.video {
    position: relative;
}
.video::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%)
}
.video video {
    width: 100%;
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--transparent-color);
    width: 100%;
    text-align: center;
    padding: 60px;
} 
.video .text h2 {
    padding: 10px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}
.video .text p {
    padding: 10px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.video .text button {
    color: white;
    background-color: black;
    text-transform: uppercase;
    padding: 10px;
    border: 1px solid black;
}
/* End video  */
/* Start About  */
.about {
    padding-top: 100px;
    overflow: hidden;
}
.about .image {
    text-align: center;
    position: relative;
    bottom: -120px;
    margin-top: -120px;
}
@media(max-width: 767px) {
    .about .image {
        bottom: -60px;
        margin-top: -60px;
    }
}
.about .image img {
    width: 100%;
}    

/* End About  */






